
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTAINER */
.container {
    background: white;
    width: 90%;
    max-width: 420px;
    height: 80vh;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.25);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* SCREENS */
.screen {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    text-align: center;
}

.hidden {
    display: none !important;
}
h2 { color: #ff4d6d; }
p { font-size: 16px; }

/* INPUT */
input {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/* BUTTONS */
button {
    padding: 10px 18px;
    border: none;
    border-radius: 20px;
    background: #ff4d6d;
    color: white;
    font-size: 15px;
    margin: 8px;
    cursor: pointer;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    position: relative;
}

.no {
    background: #ccc;
    color: #333;
    position: absolute;
}

/* CHAT */
.msg {
    margin: 12px 0;
    padding: 12px 15px;
    border-radius: 15px;
    max-width: 85%;
    background: #ff4d6d;
    color: white;
    margin-left: auto;
    animation: fade 0.4s ease;
}

.options {
    margin-top: 15px;
}

/* ANIMATION */
@keyframes fade {
    from { opacity: 0; transform: translateY(8px); }
    to { opacity: 1; transform: translateY(0); }
}


#finalSurprise {
    position: fixed;
    inset: 0;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    animation: fadeIn 1.5s ease forwards;
}

.popper {
    font-size: 60px;
    animation: pop 1s ease infinite alternate;
}

@keyframes pop {
    from { transform: scale(1); }
    to { transform: scale(1.2); }
}

.fade-out {
    animation: fadeOut 1.5s ease forwards;
}

@keyframes fadeOut {
    to { opacity: 0; }
}


#confettiCanvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* so buttons/messages still clickable */
}